openapi: 3.1.0
info:
  title: Pushman Public API
  version: 1.0.0
  description: Supported API for the Pushman CLI and developer automation.
servers:
  - url: https://api.pushman.whitekiwi.link/v1
    description: Production API origin.
security:
  - bearerAuth: []
tags:
  - name: Pairing
    description: Interactive CLI authorization.
  - name: Messages
    description: Push creation and sender history.
  - name: Devices
    description: Eligible receiving-device discovery.
  - name: Usage
    description: Account send quota.
  - name: Sender
    description: The authenticated paired CLI credential.
paths:
  /pairings:
    post:
      tags:
        - Pairing
      operationId: createPairing
      summary: Start pairing a CLI.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - suggestedName
                - platform
              properties:
                suggestedName:
                  type: string
                  minLength: 1
                  maxLength: 64
                platform:
                  type: string
                  enum:
                    - darwin
                    - linux
                    - windows
      responses:
        '201':
          description: Pairing created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingCreated'
        default:
          $ref: '#/components/responses/APIError'
  /pairings/{pairingId}:
    get:
      tags:
        - Pairing
      operationId: getPairing
      summary: Poll a pairing attempt.
      security: []
      parameters:
        - $ref: '#/components/parameters/PairingId'
        - name: pairingSecret
          in: header
          required: true
          schema:
            type: string
          description: One-time secret returned out of band when pairing is created.
      responses:
        '200':
          description: Current pairing state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pairing'
        default:
          $ref: '#/components/responses/APIError'
  /messages:
    post:
      tags:
        - Messages
      operationId: createMessage
      summary: Accept a push message for delivery.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageInput'
      responses:
        '202':
          description: Message transaction committed and queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAccepted'
        default:
          $ref: '#/components/responses/APIError'
    get:
      tags:
        - Messages
      operationId: listOwnMessages
      summary: List messages sent by the authenticated paired CLI.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Sent message page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagePage'
        default:
          $ref: '#/components/responses/APIError'
  /sender-credentials/current:
    get:
      tags:
        - Sender
      operationId: getCurrentSenderCredential
      summary: Show the authenticated paired CLI.
      responses:
        '200':
          description: Current sender credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderCredential'
        default:
          $ref: '#/components/responses/APIError'
    patch:
      tags:
        - Sender
      operationId: updateCurrentSenderCredential
      summary: Rename the authenticated paired CLI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
      responses:
        '200':
          description: Renamed sender credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderCredential'
        default:
          $ref: '#/components/responses/APIError'
    delete:
      tags:
        - Sender
      operationId: revokeCurrentSenderCredential
      summary: Revoke the authenticated paired CLI.
      responses:
        '204':
          description: Credential revoked immediately.
        default:
          $ref: '#/components/responses/APIError'
  /devices:
    get:
      tags:
        - Devices
      operationId: listDevices
      summary: List receiving devices visible to the sender.
      responses:
        '200':
          description: Receiving devices.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - items
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        default:
          $ref: '#/components/responses/APIError'
  /usage:
    get:
      tags:
        - Usage
      operationId: getUsage
      summary: Get current account send usage.
      responses:
        '200':
          description: Current UTC monthly usage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usage'
        default:
          $ref: '#/components/responses/APIError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
  parameters:
    PairingId:
      name: pairingId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/PairingId'
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    APIError:
      description: Request failed.
      headers:
        X-Request-ID:
          schema:
            type: string
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Error:
      type: object
      additionalProperties: false
      required:
        - code
        - message
        - requestId
      properties:
        code:
          type: string
          pattern: ^[a-z][a-z0-9_]*$
        message:
          type: string
        requestId:
          type: string
        retryAfter:
          type: integer
          minimum: 0
          description: Seconds until a retry is permitted.
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
    PairingId:
      type: string
      pattern: ^pair_[0-9A-HJKMNP-TV-Z]{26}$
    PairingCreated:
      type: object
      additionalProperties: false
      required:
        - id
        - userCode
        - verificationUri
        - expiresAt
        - interval
        - status
        - pairingSecret
      properties:
        id:
          $ref: '#/components/schemas/PairingId'
        userCode:
          type: string
          pattern: ^[A-Z0-9]{4}-[A-Z0-9]{4}$
        verificationUri:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
        interval:
          type: integer
          minimum: 1
        status:
          type: string
          const: pending
        pairingSecret:
          type: string
          description: One-time polling secret; never put it in a URL.
    IssuedCredential:
      type: object
      additionalProperties: false
      required:
        - token
        - name
      description: Returned once after pairing approval or token creation.
      properties:
        token:
          type: string
        name:
          type: string
    Pairing:
      type: object
      additionalProperties: false
      required:
        - id
        - userCode
        - verificationUri
        - expiresAt
        - interval
        - status
      properties:
        id:
          $ref: '#/components/schemas/PairingId'
        userCode:
          type: string
          pattern: ^[A-Z0-9]{4}-[A-Z0-9]{4}$
        verificationUri:
          type: string
          format: uri
        expiresAt:
          type: string
          format: date-time
        interval:
          type: integer
          minimum: 1
          description: Minimum polling interval in seconds.
        status:
          type: string
          enum:
            - pending
            - approved
            - denied
            - expired
        credential:
          $ref: '#/components/schemas/IssuedCredential'
    MessageId:
      type: string
      pattern: ^msg_[0-9A-HJKMNP-TV-Z]{26}$
    MessageSummary:
      type: object
      additionalProperties: false
      required:
        - id
        - title
        - body
        - senderName
        - acceptedAt
        - read
      properties:
        id:
          $ref: '#/components/schemas/MessageId'
        title:
          type: string
        subtitle:
          type: string
        body:
          type: string
        senderName:
          type: string
        acceptedAt:
          type: string
          format: date-time
        read:
          type: boolean
    MessagePage:
      type: object
      additionalProperties: false
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MessageSummary'
        nextCursor:
          type: string
    RestrictedIdentifier:
      type: string
      minLength: 1
      maxLength: 64
      pattern: ^[A-Za-z0-9._:-]+$
    MessageInput:
      type: object
      additionalProperties: false
      required:
        - body
      properties:
        title:
          type: string
          maxLength: 250
        subtitle:
          type: string
          maxLength: 250
        body:
          type: string
          minLength: 1
          maxLength: 4096
        url:
          type: string
          maxLength: 2048
          format: uri
        group:
          $ref: '#/components/schemas/RestrictedIdentifier'
        image:
          type: string
          format: uri
          maxLength: 2048
          pattern: ^https://
        sound:
          type: string
          enum:
            - default
            - none
          default: default
        key:
          $ref: '#/components/schemas/RestrictedIdentifier'
        format:
          type: string
          enum:
            - plain
            - monospace
          default: plain
        devices:
          type: array
          minItems: 1
          uniqueItems: true
          description: Receiving-device nicknames. Omit to target all eligible devices.
          items:
            type: string
            minLength: 1
            maxLength: 64
    MessageAccepted:
      type: object
      additionalProperties: false
      required:
        - id
        - logicalMessageId
        - acceptedAt
        - targetCount
      properties:
        id:
          $ref: '#/components/schemas/MessageId'
        logicalMessageId:
          type: string
          pattern: ^lmsg_[0-9A-HJKMNP-TV-Z]{26}$
        acceptedAt:
          type: string
          format: date-time
        targetCount:
          type: integer
          minimum: 1
    SenderCredential:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - kind
        - createdAt
      properties:
        id:
          type: string
          pattern: ^snd_[0-9A-HJKMNP-TV-Z]{26}$
        name:
          type: string
          minLength: 1
          maxLength: 64
        kind:
          type: string
          enum:
            - paired_cli
            - automation
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
    DeviceId:
      type: string
      pattern: ^dev_[0-9A-HJKMNP-TV-Z]{26}$
    Device:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - platform
        - notificationStatus
        - eligible
      properties:
        id:
          $ref: '#/components/schemas/DeviceId'
        name:
          type: string
          minLength: 1
          maxLength: 64
        platform:
          type: string
          enum:
            - ios
        notificationStatus:
          type: string
          enum:
            - enabled
            - disabled
            - unknown
        eligible:
          type: boolean
    Usage:
      type: object
      additionalProperties: false
      required:
        - used
        - limit
        - periodStart
        - periodEnd
      properties:
        used:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 0
        periodStart:
          type: string
          format: date-time
        periodEnd:
          type: string
          format: date-time
